.header .box1,.box2{
    background-color: #251f75;
    height: 5vmin;
    color: #fff;
    
}
.header .b1{
    background-color: #881e1e;
    margin: 0;
    padding: 1px 10px;
}
.header .box2{
    background-color: #881e1e;
    padding-left: 50px;
}

.activeNav{
    border-top: 2px solid #881e1e;
    background: #ccc9c9;
    color: #881e1e;
    font-weight: 600;
}

.navbarul li .nav-link{
    padding-left: 10px;
}

.headerUl li{
    text-decoration: none;
    list-style: none;
    margin-right: 10rem;
    font-size: medium;
}

.headerUl li strong{
    color: yellow;
}
.headerUl{
    display: flex;
}